body {
	background: beige;
	margin: 0;
	padding: 0;
	max-height: 100vh;
}

.container {
	width: 100%;
	height: 100%;
	
	display: grid;
	grid-template-columns: auto 1fr;
}

.left_div {
	width: 20vw;
	height: 100vh;
    background: teal;

	display: grid;
	grid-template-rows: auto 1fr;
}

.top_div {
	width: 100%;
	height: 20vh;
    	color: white;
    	background: rgb(0, 60, 60);
    
    	display: flex;
    	justify-content: center;
    	align-items: center;
}	

.bottom_div {
	width: 100%;
	height: 80vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: white;
	font-size: 32px;
	margin: 10px;
	padding: 10px 60px;

    text-decoration: none;
	transition: 0.2s ease;
}

a:hover {
	background: rgb(0, 60, 60);
	transition: 0.2s ease-out;
	transform: translateX(10px);
    border-radius: 10px;
}

.active{
    background: rgb(0, 60, 60);
	transform: translateX(10px);
    border-radius: 10px;
}

.right_div {
	width: 100%;
	height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr;

    background: beige;
}

.top_div_right {
    width: 100%;
    height: 20vh;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_div_right {
    width: 100%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom_div_right p {
    font-size: 18px;
    margin: 30px;
}

.topic_right_div {
    width: 100%;
	height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    background: beige;
}

#flip1, #flip2, #flip3, #flip4, #flip5, #flip6, #flip7 {
    display: none;
}

.cards {
    width: 250px;
    height: 300px;
    perspective: 1000px;

    margin: 10px;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#flip1:checked + .cards .card-container,
#flip2:checked + .cards .card-container,
#flip3:checked + .cards .card-container,
#flip4:checked + .cards .card-container,
#flip5:checked + .cards .card-container,
#flip6:checked + .cards .card-container,
#flip7:checked + .cards .card-container {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.front {
    background: blue;
    display: inline;
}

.front_h1 {
    color: white;
    font-size: 24px;
}

.back {
    background: green;
    transform: rotateY(180deg);
}

.all_pics {
    border-radius: 12px;
}

.page_two_container {
    width: 250px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page_two {
    width: 250px;
    height: 250px;

    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 24px;
    cursor: pointer;
    background: blue;
}
