body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;

    width: 100%;
    height: 100%;
}

.left_div {
    width: 250px;
    height: 100%;
    background-color: rgb(12, 35, 35);

    display: grid;
    grid-template-rows: auto 1fr;
}

.left_div_top {
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_div_top h1 {
    font-size: 28px;
    color: white;
    margin: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin: 10px 0;
    padding: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 50px;
    transition: 0.2s ease;
}

a:hover {
    background-color: darkcyan;
    border-radius: 30px;
    transition: 0.2s ease;
    text-decoration: underline;
    transform: scale(1.1);
}

.right_div {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    margin: 10px 30px;
}

#flip1, #flip2, #flip3, #flip4, #flip5, #flip6 {
    display: none;
}

.cards {
    width: 250px;
    height: 300px;
    perspective: 1000px;
}

.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

#flip1:checked + .cards .card-container,
#flip2:checked + .cards .card-container
 {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.front {
    background: blue;
    display: inline;
}

.front_h1 {
    color: white;
    font-size: 24px;
}

.back {
    background: green;
    transform: rotateY(180deg);
}

.all_pics {
    border-radius: 12px;
}
